@media only screen and (max-width: 1200px) {

    .container {
        overflow: hidden;
    }
    
    /********** Navbar ********/
    .main-nav {
        justify-content: space-evenly;
    }
    
    .nav-link {
        width: 12vw;
        margin: 0 1vw;
        font-size: 16px;
        font-family: monospace;
    }

    /************ Main Title & Subtitle **********/
    
    .subtitle {
        position: absolute;
        top: 35%;
        left: auto;
        font-size: 16px;
        letter-spacing: 10px;
        font-family: monospace;
    }
    .cible-wrapper {
        width: 3vw;
        height: 5vh;
    }
    .cible {
        font-size: 16px;
        font-family: monospace;
    }

    /*************** Canvas   *****************/
    #canvas1 {
        display: none;
    }

    /**************** Planet *****************/

    .planet{
        display:flex;
        align-items:center;
        justify-content:center;
        width: 400px;
        height: 300px;
        position: absolute;
        left: auto;
        top: 40%;
        animation: planet 120s infinite ease;
        z-index: 1;
    }
    #a{
        background:#F3AC3C;
        width:100px;
        height:100px;
        border-radius:50%;
        box-shadow: 3px 3px 20px #F3AC3C;
    }

    #e,#f,#g{
        background:#998235;
        border-radius:50%;
        width:30px;
        height:30px;
        position:absolute;
        top:120px;
        left:170px;
    }
    #f{
        width:20px;
        height:20px;
        top:165px;
        left:190px;
    }
    #g{
        width:10px;
        height:10px;
        top:120px;
        left:220px;
    }

    @keyframes planet {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    /************ Destroy Button **********/
    #destroy-btn {
        display: none;
    }
}

