@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    top: 0%;
    width: 100vw;
    height: 10vh;
    background-color: rgba(95, 158, 160, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navbar a {
    margin:0 5vw 0 5vw;
    font-family: "Bungee Hairline", cursive;
    color: rgb(18, 241, 174);
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    
}

.container {
    position: relative;
    width: 100vw;
}

.top-part {
    width: 100vw;
    height: 100vh;
    background-image: url("./public/eniac_1170px-1170x632_c.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.top-part::after {
    content: "";
    background-image: url("./public/preview-60266W89RdQZN4s_0005.jpg");
    width: 300%;
    height: 300%;
    top: -110%;
    left: -50%;
    opacity: 0.45;
    position: fixed;
    animation: grain 8s steps(10) infinite,
    opac 45s ease-out
    ;
}

@keyframes opac {
    0% {
      opacity: 1;
    }
    100% {
        opacity: 0.45;
    }
}

@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
}

.text {
    position: absolute;
    top: 20%;
    left: 60%;
    width: 60vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
    z-index: 1;
    animation: intro 13s steps(60);
}

@keyframes intro {
    0% {
        left: 25%;
        font-size: 48px;
    }
    75% {
        left: 25%;
        font-size: 48px;
    }
    80% {
        left: 30%;
        color: #0fc4e4;
        font-size: 40px;
    }
    85% {
        left: 35%;
        color: #0fc4e4;
        font-size: 32px;
    }
    90% {
        left: 40%;
        font-size: 28px;
    }
    95% {
        left: 50%;
        font-size: 26px;
    }
    100% {
        left: 60%;
        color: #fafafa;
        font-size: 24px;
    }
}

.text .text-part p {
    height: 5vh;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-right: 2px solid #fafafab9 /*rgba(255, 166, 0, 0.575)*/;
    font-family: "Bungee Hairline", cursive;
    color: #fafafa;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes coloring {
    0% {
        color: #fafafa;
    }
    70% {
        color: rgb(18, 241, 174);
    }
    80% {
        color: #0fc4e4;
    }

    100% {
        color: #fafafa;
    }
}

.text .text-part p:nth-child(1) {
    width: 4vw;
    animation: type 1s steps(40, end), blink .5s step-end infinite alternate, coloring 10s steps(40), size1 25s steps(40);
    animation-fill-mode: forwards;
}

.text .text-part p:nth-child(2) {
    width: 22vw;
    opacity: 0;
    animation: type2 3s steps(40, end), coloring 10s steps(40), size2 25s steps(40);
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

  
.text .text-part p:nth-child(3) {
    width: 30vw;
    opacity: 0;
    animation: type3 4s steps(40, end), blink .5s step-end infinite alternate, coloring 10s steps(40), size3 25s steps(40);
    animation-delay: 6s;
    animation-fill-mode: forwards;
}
  
@keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: 2px solid #fafafa;
    }
    100% {
      border: none;
      width: 6vw;
    }
}
  

@keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: 2px solid #fafafa;
    }
    100% {
      opacity: 1;
      border: none;
      width: 40vw;
    }
}


@keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      width: 55vw;
    }
}

@keyframes blink {
    50% {
      border-color: transparent;
    }
}

.btn-wrapper {
    width:30vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fake-borders {
    width: 15vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fake-borders::after {
    position: absolute;
    width: 15vw;
    height: 10vh;
    content: '';
    border-bottom: solid 2px #fafafa;
    border-top: solid 2px #fafafa; 
    transform: scaleX(0);  
    animation: borderline 1s steps(40);
    animation-delay: 13s;
}

@keyframes borderline {
    0% {
        transform: scaleX(0); 
    }
    12% {
        transform: scaleX(0.25); 
    }
    25% {
        transform: scaleX(0.5); 
    }
    37% {
        transform: scaleX(0.75); 
    }
    50% {
        transform: scaleX(1);
    }
    62% {
        transform: scaleX(0.75);
    }
    75% {
        transform: scaleX(0.5);
    }
    87% {
        transform: scaleX(0.25);
    }
    99.9% {
        transform: scaleX(0); 
    }
    100% {
        display: none;
    }
    
}

.projects-button {
    padding: 20px 15px;
    color: #fafafa;
    font-weight: bold;
    font-family: "Annie Use Your Telescope";
    font-size: 32px;
    transition: 500ms;
    cursor: pointer;
    animation: appearance 13s forwards;
    overflow: hidden;
}


@keyframes appearance {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    80% {
        opacity: 0.3;
    }
    90% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}


.projects-button::after {
    display:block;
    content: '';
    margin-top: 10px;
    border-bottom: solid 2px rgb(18, 241, 174);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
}

.projects-button:hover::after {
    transform: scaleX(1); 
    transform-origin: 0% 50%;
}

.projects-button::before {
    display:block;
    content: '';
    margin-bottom: 10px;
    border-bottom: solid 2px rgb(18, 241, 174);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%;
}

.projects-button:hover::before {
    transform: scaleX(1);
    transform-origin: 100% 50%;
}

.projects-button:hover {
    font-weight: bolder;
}

.flash {
    position: relative;
    width: 30vw;
    height: 10vh;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flash-button {
    position: absolute;
    width: 35px;
    height: 35px;
    border-bottom: 5px solid rgb(18, 241, 174);
    border-right: 5px solid rgb(18, 241, 174);
    opacity: 0;
    transform: rotate(45deg);
    animation: flash 1.5s infinite linear;
    animation-delay: 15s;
    
}

@keyframes flash {
    0% {
        top: 0;
        opacity: 1;
    }

    25% {
        top: 10%;
        opacity: 0.7;
    }

    50% {
        top: 25%;
        opacity: 0.5;
    }

    75% {
        top: 10%;
        opacity: 0.7;
    }

    100% {
        top: 0;
        opacity: 1;
    }

}

.main-part {
    width: 100vw;
    height: 100vh;
    background-color: cadetblue;
    z-index: 1;
}