@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    top: 0%;
    width: 100vw;
    height: 10vh;
    background-color: rgba(95, 158, 160, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navbar a {
    margin:0 5vw 0 5vw;
    font-family: "Bungee Hairline", cursive;
    color: rgb(18, 241, 174);
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    
}

.container {
    position: relative;
    width: 100vw;
}

.top-part {
    width: 100vw;
    height: 100vh;
    background-image: url("./public/eniac_1170px-1170x632_c.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.top-part::after {
    content: "";
    background-image: url("./public/preview-60266W89RdQZN4s_0005.jpg");
    width: 300%;
    height: 300%;
    top: -110%;
    left: -50%;
    opacity: 0.45;
    position: fixed;
    animation: grain 8s steps(10) infinite,
    opac 45s ease-out
    ;
}

@keyframes opac {
    0% {
      opacity: 1;
    }
    100% {
        opacity: 0.45;
    }
}

@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
}

.text {
    position: absolute;
    top: 20%;
    left: 60%;
    width: 60vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
    z-index: 1;
    animation: intro 13s steps(60);
}

@keyframes intro {
    0% {
        left: 25%;
        font-size: 48px;
    }
    75% {
        left: 25%;
        font-size: 48px;
    }
    80% {
        left: 30%;
        color: #0fc4e4;
        font-size: 40px;
    }
    85% {
        left: 35%;
        color: #0fc4e4;
        font-size: 32px;
    }
    90% {
        left: 40%;
        font-size: 28px;
    }
    95% {
        left: 50%;
        font-size: 26px;
    }
    100% {
        left: 60%;
        color: #fafafa;
        font-size: 24px;
    }
}

.text .text-part {
    overflow: hidden;
}

.text .text-part p {
    height: 5vh;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-right: 2px solid #fafafab9 /*rgba(255, 166, 0, 0.575)*/;
    font-family: "Bungee Hairline", cursive;
    color: #fafafa;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes coloring {
    0% {
        color: #fafafa;
    }
    70% {
        color: rgb(18, 241, 174);
    }
    80% {
        color: #0fc4e4;
    }

    100% {
        color: #fafafa;
    }
}

.text .text-part p:nth-child(1) {
    width: 4vw;
    animation: type 1s steps(40, end), blink .5s step-end infinite alternate, coloring 10s steps(40), size1 25s steps(40);
    animation-fill-mode: forwards;
}

.text .text-part p:nth-child(2) {
    width: 22vw;
    opacity: 0;
    animation: type2 3s steps(40, end), coloring 10s steps(40), size2 25s steps(40);
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

  
.text .text-part p:nth-child(3) {
    width: 30vw;
    opacity: 0;
    animation: type3 4s steps(40, end), blink .5s step-end infinite alternate, coloring 10s steps(40), size3 25s steps(40);
    animation-delay: 6s;
    animation-fill-mode: forwards;
}

.text .text-part p:nth-child(4) {
    width: 30vw;
    border: none;
    opacity: 0;
    font-size: 26px;
    color: rgb(18, 241, 174);
    animation: webdev 5s linear forwards;
    animation-delay: 10s;
}
  
@keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: 2px solid #fafafa;
    }
    100% {
      border: none;
      width: 6vw;
    }
}
  

@keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: 2px solid #fafafa;
    }
    100% {
      opacity: 1;
      border: none;
      width: 40vw;
    }
}


@keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      width: 55vw;
    }
}

@keyframes blink {
    50% {
      border-color: transparent;
    }
}

@keyframes webdev {
    0% {
        opacity: 0;
        display: block;
    }

    50% {
        opacity: 0.5;
        display: block;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

.btn-wrapper {
    width:30vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fake-borders {
    width: 15vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fake-borders::after {
    position: absolute;
    width: 15vw;
    height: 10vh;
    content: '';
    border-bottom: solid 2px #fafafa;
    border-top: solid 2px #fafafa; 
    transform: scaleX(0);  
    animation: borderline 1s steps(40);
    animation-delay: 13s;
}

@keyframes borderline {
    0% {
        transform: scaleX(0); 
    }
    12% {
        transform: scaleX(0.25); 
    }
    25% {
        transform: scaleX(0.5); 
    }
    37% {
        transform: scaleX(0.75); 
    }
    50% {
        transform: scaleX(1);
    }
    62% {
        transform: scaleX(0.75);
    }
    75% {
        transform: scaleX(0.5);
    }
    87% {
        transform: scaleX(0.25);
    }
    99.9% {
        transform: scaleX(0); 
    }
    100% {
        display: none;
    }
    
}

.projects-button {
    padding: 20px 15px;
    color: #fafafa;
    font-weight: bold;
    font-family: "Annie Use Your Telescope", cursive;
    font-size: 32px;
    transition: 500ms;
    cursor: pointer;
    animation: appearance 13s forwards;
    overflow: hidden;
    text-decoration: none;
}


@keyframes appearance {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    80% {
        opacity: 0.3;
    }
    90% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}


.projects-button::after {
    display:block;
    content: '';
    margin-top: 10px;
    border-bottom: solid 2px rgb(18, 241, 174);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
}

.projects-button:hover::after {
    transform: scaleX(1); 
    transform-origin: 0% 50%;
}

.projects-button::before {
    display:block;
    content: '';
    margin-bottom: 10px;
    border-bottom: solid 2px rgb(18, 241, 174);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%;
}

.projects-button:hover::before {
    transform: scaleX(1);
    transform-origin: 100% 50%;
}

.projects-button:hover {
    font-weight: bolder;
}

.flash {
    position: relative;
    width: 30vw;
    height: 10vh;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flash-button {
    position: absolute;
    width: 35px;
    height: 35px;
    border-bottom: 5px solid rgb(18, 241, 174);
    border-right: 5px solid rgb(18, 241, 174);
    opacity: 0;
    transform: rotate(45deg);
    animation: flash 1.5s infinite linear;
    animation-delay: 15s;
    
}

@keyframes flash {
    0% {
        top: 0;
        opacity: 1;
    }

    25% {
        top: 10%;
        opacity: 0.7;
    }

    50% {
        top: 25%;
        opacity: 0.5;
    }

    75% {
        top: 10%;
        opacity: 0.7;
    }

    100% {
        top: 0;
        opacity: 1;
    }

}

.main-part {
    width: 100vw;
    height: 225vh;
    background-color: rgba(95, 158, 160, 0.521);
    z-index: 1;
}

#projects::before {
    content: "";
    background-image: url("./public/preview-60266W89RdQZN4s_0005.jpg");
    width: 300%;
    height: 300%;
    top: -110%;
    left: -50%;
    opacity: 0.1;
    position: fixed;
    animation: grain 8s steps(10) infinite;
    z-index: 0;
}

.main-part-title {
    width: 100vw;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    color: #fafafa;
    font-family: "Bungee Hairline", cursive;
    animation:  color-changer 15s infinite linear;
    z-index: 2;
}

@keyframes color-changer {
    0% {
        color: #fafafa;
    }
    25% {
        color: rgba(95, 158, 160, 0.521);
    }
    50% {
        color: rgb(18, 241, 174);
    }
    75% {
        color: #0fc4e4;
    }
    100% {
        color: #fafafa;
    }
}

#projects {
    width: 100vw;
    height: 215vh;
    padding-top: 25px;
    background-color: #171717;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: space-around;
    z-index: 2;
}


.project {
    width: 40vw;
    height: 50vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: 500ms;
}

.project:nth-child(1)::after {
    content: "";
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 0;
    background-image: url("./public/issue-tracker.jpg");
    background-size: cover;
    transition: 500ms;
}

.project:nth-child(1):hover::after {
    opacity: 0.1;
}

.project:nth-child(2)::after {
    content: "";
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 0;
    background-image: url("./public/personal-library.jpg");
    background-size: cover;
    transition: 500ms;
}

.project:nth-child(2):hover::after {
    opacity: 0.1;
}

.project:nth-child(3)::after {
    content: "";
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 0;
    background-image: url("./public/sudoku-solver.jpg");
    background-size: cover;
    transition: 500ms;
}

.project:nth-child(3):hover::after {
    opacity: 0.1;
}


.project:nth-child(4)::after {
    content: "";
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 0;
    background-image: url("./public/exercise-tracker.jpg");
    background-size: cover;
    transition: 500ms;
}

.project:nth-child(4):hover::after {
    opacity: 0.1;
}

.project:nth-child(5)::after {
    content: "";
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 0;
    background-image: url("./public/meme-generator.jpg");
    background-size: cover;
    transition: 500ms;
}

.project:nth-child(5):hover::after {
    opacity: 0.1;
}

.project:nth-child(6)::after {
    content: "";
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 0;
    background-image: url("./public/converter.jpg");
    background-size: cover;
    transition: 500ms;
}

.project:nth-child(6):hover::after {
    opacity: 0.1;
}


.project:nth-child(7)::after {
    content: "";
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 0;
    background-image: url("./public/request-header-parser.jpg");
    background-size: cover;
    transition: 500ms;
}

.project:nth-child(7):hover::after {
    opacity: 0.1;
}

.project:nth-child(8)::after {
    content: "";
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 0;
    background-image: url("./public/url-hasher.jpg");
    background-size: cover;
    transition: 500ms;
}

.project:nth-child(8):hover::after {
    opacity: 0.1;
}

.project:nth-child(9)::after {
    content: "";
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 0;
    background-image: url("./public/file-metadata.jpg");
    background-size: cover;
    transition: 500ms;
}

.project:nth-child(9):hover::after {
    opacity: 0.1;
}

.project:nth-child(10)::after {
    content: "";
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 0;
    background-image: url("./public/timestamp.jpg");
    background-size: cover;
    transition: 500ms;
}

.project:nth-child(10):hover::after {
    opacity: 0.1;
}

.project:nth-child(11)::after {
    content: "";
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 0;
    background-image: url("./public/random-quote.jpg");
    background-size: cover;
    transition: 500ms;
}

.project:nth-child(11):hover::after {
    opacity: 0.1;
}

.project:nth-child(12)::after {
    content: "";
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 0;
    background-image: url("./public/markdown-previewer.jpg");
    background-size: cover;
    transition: 500ms;
}

.project:nth-child(12):hover::after {
    opacity: 0.1;
}

.project:nth-child(13)::after {
    content: "";
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 0;
    background-image: url("./public/virtual-drum-machine.jpg");
    background-size: cover;
    transition: 500ms;
}

.project:nth-child(13):hover::after {
    opacity: 0.1;
}

.project:nth-child(14)::after {
    content: "";
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 0;
    background-image: url("./public/25-5-clock.jpg");
    background-size: cover;
    transition: 500ms;
}

.project:nth-child(14):hover::after {
    opacity: 0.1;
}

.project:nth-child(15)::after {
    content: "";
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 0;
    background-image: url("./public/calculator.jpg");
    background-size: cover;
    transition: 500ms;
}

.project:nth-child(15):hover::after {
    opacity: 0.1;
}

.project:nth-child(16)::after {
    content: "";
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 0;
    background-image: url("./public/random-color.jpg");
    background-size: cover;
    transition: 500ms;
}

.project:nth-child(16):hover::after {
    opacity: 0.1;
}

.project:nth-child(17)::after {
    content: "";
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 0;
    background-image: url("./public/key-code.jpg");
    background-size: cover;
    transition: 500ms;
}

.project:nth-child(17):hover::after {
    opacity: 0.1;
}



.project .project-details {
    width: 30vw;
    height: 40vh;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    transition: 1000ms;
    z-index: 2;
}

.project:hover .project-details {
    visibility: visible;
    opacity: 1;
}

.project-details .project-title h2 {
    color: #fafafa;
    font-family: "Bungee Hairline", cursive;
    opacity: 0;
    transition: 1500ms;
}

.project:hover .project-details .project-title h2 {
    opacity: 1;
}

.project-link {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.project-link::after {
    display:block;
    content: '';
    border-bottom: solid 2px #fafafa;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.project-link:hover::after {
    transform: scaleX(1);
}

.project-details .project-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-content: space-around;
    color: #fafafa;
    font-family: monospace;
}

.project-details .project-skills p {
    padding: 6px;
    margin: 5px;
    border: 2px solid #fafafa;
    border-radius: 5px;
    opacity: 0;
    transition: 1500ms;
}

.project:hover .project-details .project-skills p {
    opacity: 1;
}

.project-code {
    width: 30vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.project-code a {
    margin: 0 15px;
    text-decoration: none;
    color: #fafafa;
    font-family: monospace;
    font-size: 16px;
}


.project-code a::after {
    display:block;
    content: '';
    border-bottom: solid 2px #fafafa;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.project-code a:hover::after {
    transform: scaleX(1);
}

.about-wrapper {
    position: relative;
}

.about {
    width: 100vw;
    height: 255vh;
    background-color: #171717;
}

.about::after {
    content: "";
    background-image: url("./public/preview-60266W89RdQZN4s_0005.jpg");
    width: 300%;
    height: 300%;
    top: -110%;
    left: -50%;
    position: fixed;
    opacity: 0.2;
    animation: grain 8s steps(10) infinite;
}

.about-text-wrapper {
    width: 100vw;
    height: 245vh;
    position: absolute;
    top: 10vh;
    padding: 35px;
    padding-top: 10vh;
    z-index: 1;
}

.about-text-wrapper p {
    color: #fafafa;
    padding-bottom: 15px;
    font-family: monospace;
    font-size: 24px;
    text-align: justify;
    opacity: 0;
    animation: abouty 10s linear forwards;
}

@keyframes abouty {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

.about-text-wrapper p:nth-child(1) {
    animation-delay: -1s;
}

.about-text-wrapper p:nth-child(2) {
    animation-delay: 4s;
}
.about-text-wrapper p:nth-child(3) {
    animation-delay: 10s;
}
.about-text-wrapper p:nth-child(4) {
    animation-delay: 15s;
}
.about-text-wrapper p:nth-child(5) {
    animation-delay: 20s;
}
.about-text-wrapper p:nth-child(6) {
    animation-delay: 25s;
}
.about-text-wrapper p:nth-child(7) {
    animation-delay: 30s;
}
.about-text-wrapper p:nth-child(8) {
    animation-delay: 35s;
}
.about-text-wrapper p:nth-child(9) {
    animation-delay: 40s;
}


#projects-page {
    width: 100vw;
    height: 600vh;
    padding-top: 20vh;
    background-color: #171717;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: space-around;
    z-index: 2;
}

#projects-page::before {
    content: "";
    background-image: url("./public/preview-60266W89RdQZN4s_0005.jpg");
    width: 300%;
    height: 300%;
    top: -110%;
    left: -50%;
    opacity: 0.1;
    position: fixed;
    animation: grain 8s steps(10) infinite;
    z-index: 0;
}








::-webkit-scrollbar {
    width: 15px;
                
}

/* Track */
::-webkit-scrollbar-track {
    background: #171717;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(18, 241, 174);
                
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(32, 178, 171, 0.705);
}
